<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 设置网页meta（默认设置不需要修改，页面需要引用） -->
  <?php $this->load_template('mobile_iphone/set_meta.php'); ?>
  <!-- 判断访问设备（可以不引用，根据页面是否用到设备参数配置） -->
  <?php $this->load_template('mobile_iphone/set_device.php'); ?>
  <!-- 设置网站统计和主域名（根据需要引用） -->
  <?php $this->load_template('mobile_iphone/set_config.php'); ?>
  <link rel="shortcut icon" href="#">
</head>
<body>

<!-- 头部 -->
<header id="header"></header>

<div class="top_bar m92"  style="display: none" >
  <!-- 页面标题 -->
  <div class="tb_pagetitle"></div>
  <!-- 搜索-->
  <div class="tb_retrieval clearfix">
    <div class="tb_qrcodeScan fr" id="qrcodeScan" >
      <span class="iconfont icon-saomiaoshibie"></span>
    </div>
    <div class="tb_search radius_8 clearfix">
      <div class="tbs_btn fr"  id="search" >
        <span class="iconfont icon-sousuo" ></span>
      </div>
      <div class="tbs_text" >
        <input class="search_input" type="search" placeholder="" autocomplete="off" >
      </div>
    </div>
  </div>

</div>

<!-- 页面 -->
<main  id="internet_pharmacy">

</main>
<!-- 底部菜单 -->
<footer id="footer">
  <ul class="f_menu">
    <li class="on">
      <div class="f_m_con">
        <span class="iconfont icon-index f_m_icon"></span>
        <div class="f_m_text">首页</div>
      </div>
    </li>
    <li>
      <div class="f_m_con">
        <span class="iconfont icon-leimupinleifenleileibie f_m_icon"></span>
        <div class="f_m_text">分类</div>
      </div>
    </li>
    <li>
      <div class="f_m_con">
        <span class="iconfont icon-gouwuche f_m_icon"></span>
        <div class="f_m_text">购物车</div>
      </div>
    </li>
    <li>
      <div class="f_m_con">
        <span class="iconfont icon-zixun f_m_icon"></span>
        <div class="f_m_text">询医问药</div>
      </div>
    </li>
  </ul>
</footer>

<script>
	var firstFlag = false;
	var siteUrl = "<?=$C->SITE_URL?>";
	var shopId = "<?=$this->param('shop')?>";
    var pageTitle = '<?=$D->page_title?>';
</script>

</body>
</html>