<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no">
  <title>产品详情 （活动）</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="shortcut icon" href="#">
</head>
<body>

<header id="header">

</header>
<div class="container customs" id="productDetails2011"></div>
<footer id="footer"></footer>

<script>
    // 定义设备
	var ios_app = false,
		android_app = false,
		is_wx = false;


		var firstFlag = false;
		var siteUrl = "http://m.lk.cn/";
		var detail_id = "53";
		var pageTitle = '天津海关体检预约';
		
</script>

</body>
</html>