/* 栏目名称 */
.column { }
.column_name { }
.column_name { }
.column_name { background: #fff; padding: .4rem 0; line-height: 1.2rem; }
.column_name img { height: 1rem; vertical-align: top; margin-right: .5rem; }
.column_name img.mid { /*margin-top: .1rem;*/ }
.column_name span { display: block; font-size: .8rem; height: 1.2rem; line-height: 1.2rem; overflow: hidden;text-overflow: ellipsis; white-space: nowrap; }
.column_name a { display: inline-block; height: 1.2rem; line-height: 1.2rem; color: #666; font-size: .7rem; }
.column_name .iconyoujiantou { display: inline-block; padding-left: .15rem; }



