<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no">
  <title>订单详情</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
</head>
<body>

<div class="container" id="QRcode"></div>

<script>
    // 定义设备
	var ios_app = false,
		android_app = false,
		is_wx = false;
	
	var siteUrl = "http://m.lk.cn/";
		var pageTitle = '康康绑定二维码';
		// var QRcodeInfo = {
		// 			"url":"http://imgcn.zhangjinkai.com/i/customhouse/registrationqrcode/cn-index.png",
		// 			"is_countdown":false,
		// 			"time_remaining":"",
		// 			"title":"康康绑定二维码"
		// 		};
		var QRcodeInfo = {
					"url":"http://imgcn.zhangjinkai.com/i/customhouse/registrationqrcode/cn-index.png",
					"is_countdown":true,
					"time_remaining":"08:00",
					"time_remaining_seconds":"480",
					"title":"海关预约二维码"
				}


</script>

</body>
</html>