.drug_detail {  background: #f4f4f4; }
/* 药品信息 */
.drug_info { margin-bottom: .5rem; }
/* 药品图片 */
.d_slide { min-height: 6rem; background: #fff; text-align: center; }
.d_slide img { max-width: 100%; }
/* 药品名称和价格 */
.d_info { background: #fff; padding-top: .5rem; }
.d_tit { line-height: 1rem; font-size: .7rem; color: #333; }
.d_price { line-height: 1.5rem; padding: .3rem 0 0; }
.d_price div {  display: inline-block; padding-right: .5rem; }
.d_original { color: #555; font-size: .65rem; text-decoration: line-through; }
.d_original em { font-size: .55rem; padding: 0 .1rem; }
.d_original span { font-size: .7rem; }
.d_real { color: #f2413c; font-size: .9rem; }
.d_real em { font-size: .75rem; padding: 0 .1rem; }
.d_real span { font-size: .9rem; }

/* 药品规格和参数 */
.d_specs { }

/* 提供服务 */
.d_services { }

/* 商品介绍 */
.d_introduce { background: #fff; }
.di_name { font-weight: bolder; color: #333; font-size: .75rem; line-height: 1.8rem; border-bottom: 1px #dfdfdf solid; padding: 0 3%; }
.di_con { color: #333; font-size: .65rem; line-height: 1.2rem; }
.di_con img { width: 100%; display: block; }
/* 评价 */
.dd_reviews { }