<template>
  <div class="drawer" data-v="<%=data.hash%>" style="display: block" >
	<div class="drawer_mask <%=data.maskClass+'-'+data.hash%>" style="opacity: <%=data.opacity%>; z-index: <%=data.z_index%>;" ></div>
	<div class="drawer_out">
	  <div class="dw_head dw_m92">
		<div class="fl">
		  <a href="javascript:;" class="cancel <%=data.cancelBtn+'-'+data.hash%>"><%=data.cancelTxt%></a>
		</div>
		<div class="fr" >
		  <a href="javascript:;" style="display: none" id="add_user" class="confirm <%=data.sureBtn+'-'+data.hash%>"><%=data.sureTxt%></a>
		</div>
		<div class="dw_h_name"><%=data.title%></div>
	  </div>
	  <div class="dw_body dw_m92" style="<%=data.height && ('height:' + data.height)%>;">
		<ul class="select_user">
		  <%
		  console.log(data.data);
		  var i = 0, userData = data.data.list, len = userData.length;
		  if(len < 1) {
		  %>
		  <li class="">
			<div class="no_data"><%=data.data.notice%></div>
		  </li>
		  <% } else {
		  for(; i < len; i++){
		  var detail = userData[i];
		  %>
		  <li class="clearfix" attr_identifier="<%=detail.no_charge_booking_service_application%>" attr_fullname="<%=detail.fullname%>" >
			<div class="s_user_data fl"><%=detail.fullname%> (<%=detail.mobile%>)</div>
		  </li>
		  <% } } %>
		</ul>
	  </div>
	</div>
  </div>
</template>

