.faq { background: #fff; padding: .5rem 4%; width: 92%; }
/* FAQ 头部 */
.faq_head { }
.faq_head { background: #fff; padding: .4rem 0; line-height: 1.2rem; }
.faq_head img { height: 1rem; vertical-align: top; margin-right: .5rem; }
.faq_head img.mid { margin-top: .1rem; }
.faq_head span { display: block; font-size: .8rem; height: 1.2rem; line-height: 1.2rem; overflow: hidden;text-overflow: ellipsis; white-space: nowrap; }
.faq_head a { display: inline-block; height: 1.2rem; line-height: 1.2rem; color: #666; font-size: .7rem; }
.faq_head .iconyoujiantou { display: inline-block; padding-left: .15rem; }

/* FAQ 列表 */
.faq_list { }
.faq_list li { padding: .3rem 0; }
.faq_tit { color: #111; line-height: 1.6rem; font-size: .7rem; padding-bottom:.2rem; }
.faq_des { color: #333; line-height: 1.2rem; font-size: .65rem; background: #f1f5f8; border-radius: .25rem; padding: .3rem .6rem; }






