.select_time { }
.select_time li { border-top: 1px #eee solid; padding: .5rem 0; line-height: 2rem; }
.select_time li:first-child { border-top:none; }
.s_time_data { color: #000; font-size: .8rem; }
.s_time_count { color: #666; font-size: .75rem; }
.s_operable { margin-top: .25rem; color: #3AAEE9; line-height: 1.4rem; padding: 0 .5rem; border: 1px #3AAEE9 solid; border-radius: 1rem; }
.s_inoperable { margin-top: .25rem; color: #aaa; line-height: 1.4rem; padding: 0 .5rem; border: 1px #aaa solid; border-radius: 1rem; }






