<template>
  <main>
    <div class="device_bind" >
      <%
      var noticeInfo = data.notice,
      shopInfo = data.shop_url;
      %>
      <!-- 操作提示 -->
      <div class="tips skin2">
        <!--标题-->
        <div class="t_name">
          <%=noticeInfo.notice_title%>
        </div>
        <!--内容-->
        <div class="t_des">
          <%=noticeInfo.notice%>
        </div>
        <!-- end -->
      </div>
      <!-- SN号 -->
      <div class="db_form">
        <%
        // 判断是微信
        if(data.is_wx) {
        %>
        <!-- 手机号 -->
        <div class="group">
          <span class="gp_tit">手机号</span>
          <div class="gp_input gp_w fr">
            <input id="tel" name="7" class="input_control mbsc-comp" placeholder="请输入手机号"  autocomplete="off"  autocapitalize="off">
          </div>
        </div>
      
        <div class="group">
          <span class="gp_tit">手机验证码</span>
          <div class="gp_text_code gp_w fr">
            <span class="fr" id="send_text_code">发送验证码</span>
            <div class="gp_input">
              <input id="text_code" name="7" class="input_control mbsc-comp" placeholder="请输入手机验证码" autocomplete="off"  autocapitalize="off">
            </div>
          </div>
        </div>
        <%
        }
        %>
      
        <div class="group">
          <span class="gp_tit"><%=noticeInfo.barcode_title%></span>
          <div class="gp_scan_code fr">
            <span class="iconfont iconsaoma fr" id="scanBarcode" ></span>
            <div class="gp_input">
              <input type="text" id="scan_code" name="sn" class="input_control mbsc-comp" placeholder="请输入<%=noticeInfo.barcode_title%>" data-name="<%=noticeInfo.barcode_title%>"  data-rule="type1" required  autocomplete="off"  autocapitalize="off" >
            </div>
          </div>
      
        </div>
    
      </div>
    
      <!-- 操作按钮 -->
      <div class="btn bg65ca65 db_btn" id="submitBind" >
        立即绑定
      </div>
      <%
      // 判断是否有购买跳转
      if(shopInfo.is_show) {
      %>
      <!-- 购买设备 -->
      <div class="db_link">
        <a href="<%=shopInfo.url%>" ><%=shopInfo.url_string%></a>
      </div>
      <% } %>
      <!-- end -->
  
    </div>
  </main>
</template>
