<template>
  <div class="drug_detail">
    <%
    var baseInfo = data,
    slideImgData = baseInfo.imgs, img_len = slideImgData && slideImgData.length,
    drugInfoData = baseInfo,
    drugDetailData = data.detail;
    %>
    <!-- 药品信息 -->
    <div class="drug_info">
      <%
      if(img_len > 0) {
      %>
  
      <div class="w_m_banner">
        <div class="addWrap">
          <div class="swipe" id="mySwipe">
            <div class="swipe-wrap">
              <%
              var m = 0;
              for(; m < img_len; m++){
              var slideImg = slideImgData[m];
              var cls = m == 0? 'cur' : '';
              %>
              <div>
                <a href="javascript:void(0);" > <img class="img-responsive" src="<%=slideImg%>" /> </a>
              </div>
              <%
              }
              %>
              
            </div>
          </div>
          <ul id="position">
            <%
            var m = 0;
            for(; m < img_len; m++){
            var slideImg = slideImgData[m];
            var cls = m == 0? 'cur' : '';
            %>
            <li class="<%=cls%>"></li>
            <%
            }
            %>
          </ul>
        </div>
      </div>
      
      <!-- 药品图片切换 -->
      <div class="d_slide" style="display: none" >
        <%
        var m = 0;
        for(; m < img_len; m++){
        var slideImg = slideImgData[m];
        %>
        <img src="<%=slideImg%>" >
        <%
        }
        %>
      </div>
      <%
      }
      %>
      <!--药品名称-->
      <div class="d_info m94">
        <div class="d_tit"><%=drugInfoData.goods_name%></div>
        <div class="d_price" style="display: none">
          <!--会员价-->
          <%
          if(drugInfoData.price_member) {
          %>
          <div class="d_real"><em>¥</em><span><%=drugInfoData.price_member.val%></span>元</div>
          <%
          }
          if(drugInfoData.price) {
          %>
          <!--商城价-->
          <div class="d_original"><em>¥</em><span><%=drugInfoData.price.val%></span>元</div>
          <%
          }
          %>
        </div>
        <div class="d_price" >
          <!--秒杀价格-->
          <div class="d_real"><em>¥</em><span><%=drugInfoData.price%></span>元</div>
        
        </div>
        <%
        if(drugInfoData.spec) {
        %>
        <div class="d_promotion">规格：<%=drugInfoData.spec%></div>
        <% } %>
        <%
        if(drugInfoData.goods_brief) {
        %>
        <div class="d_promotion">说明：<%=drugInfoData.goods_brief%></div>
        <% }  %>
      </div>
      
      <!--end-->
    </div>
  
    <!-- 购买数量 -->
    <div class="gd_count clearfix">
      <div class="gc_name fl">购买数量</div>
      <div class="gc_opt fr" ></div>
    </div>
    
    <!-- 商品介绍 -->
    <div class="d_introduce">
      <div class="di_name">
        商品介绍
      </div>
      <div class="di_con">
        <%=drugDetailData%>
      </div>
    </div>
    <!--end-->
  </div>
</template>
