/* 背景颜色 */
/* 绿 */
.bg65ca65 { background: #65ca65; }

/* 蓝 */
.bg00a7ff { background: #00a7ff; }

/* 红 */
.bgff6050 { background: #ff6050; }

/* 黑 */
.bg999 { background: #999; }

/* 白 */
.bgfff { background: #fff; }