#no_data { text-align: center; font-size: .8rem; color: #f64e4e; line-height: 2rem; padding: 1rem 4%; margin: 0; }
.no_data { text-align: center; font-size: .8rem; color: #f64e4e; line-height: 2rem; padding-bottom: .8rem; }
li.no_data { text-align: center; font-size: .8rem; color: #f64e4e; line-height: 2rem; padding-bottom: .8rem; margin: 0; }