/* 底部按钮 */
.f_btn { background: #058efe; height: 2.5rem; line-height: 2.5rem; text-align: center; font-size: 1rem; color: #fff; }
.f_btn span { padding-left: .3rem; font-size: 1rem; }
.f_btn em { font-size: .8rem; }









