.download_foot { height: 2.1rem; padding-top: .4rem; background-color: rgba(0, 0, 0, 0.7); }
.f_d_logo { height: 1.7rem; margin-right: .5rem; }
.f_d_logo img { height: 100%; }
.f_d_text { color: #fff; line-height: 1.7rem; }
.f_d_btn { background: #f2413c; line-height: 1.7rem; color: #fff; padding: 0 .8rem; }







